h1{
    color:yellow;
}
h3{
    color: red;
}
.b{
    text-align: center;
    margin-top: -3%;
}
.a{
    background-color: green;
    width:400px;
    height:250px;
    border: 7px solid black;
    margin:auto;
    margin-top: 15%;
}
